@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';


.datosPersonal {

	.container {
	  max-width: 100%;
	  margin: 0px;
	  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
	}
  
	.row {
	  @include ms-Grid-row;
	  @include ms-fontColor-white;
	  background-color: $ms-color-themeDark;
	  margin: 0px;
	  padding: 20px;
	}
  
	.column {
	  @include ms-Grid-col;
	  @include ms-lg10;
	  @include ms-xl8;
	  @include ms-xlPush2;
	  @include ms-lgPush1;
	}
  
	.title {
	  @include ms-font-xl;
	  @include ms-fontColor-white;
	}
  
	.subTitle {
	  @include ms-font-l;
	  @include ms-fontColor-white;
	}
  
	.description {
	  @include ms-font-l;
	  @include ms-fontColor-white;
	}
  
	.subSectionHeading {
	  color: $ms-color-themePrimary;
	  border-bottom: 2px solid;
	  border-bottom-color: $ms-color-themePrimary;
	  font-size: 18px;
	  padding-bottom: 3px;
	}
  
	.pDescription {
	  color:#a6a6a6;
	  border: 0;
	  margin: 0px;
	  font-size: 10px;
	}
  
	.pTitle {
	  color:#a6a6a6;
	  border: 0;
	  margin: 0px;
	}
  
	p {
		color:#a6a6a6;
		border: 0;
		margin: 0px;
	}
  
	.mainButton {
	  // Our button
	  text-decoration: none;
	  height: 32px;
  
	  // Primary Button
	  min-width: 80px;
	  background-color: $ms-color-themePrimary;
	  border-color: $ms-color-themePrimary;
	  color: $ms-color-white;
  
	  // Basic Button
	  outline: transparent;
	  position: relative;
	  font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	  -webkit-font-smoothing: antialiased;
	  font-size: $ms-font-size-m;
	  font-weight: $ms-font-weight-regular;
	  border-width: 0;
	  text-align: center;
	  cursor: pointer;
	  display: inline-block;
	  padding: 0 16px;
  
	  .label {
		font-weight: $ms-font-weight-semibold;
		font-size: $ms-font-size-m;
		height: 32px;
		line-height: 32px;
		margin: 0 4px;
		vertical-align: top;
		display: inline-block;
	  }
	}
  
	.mainButton:disabled {
		  opacity: 0.5;
	  cursor: auto;
	  }
  
	.secondaryButton {
	  // Our button
	  text-decoration: none;
	  height: 32px;
  
	  // Primary Button
	  min-width: 80px;
	  background-color: rgb(244, 244, 244);
	  border-color: rgb(244, 244, 244);
	  color: $ms-color-black;
  
	  // Basic Button
	  outline: transparent;
	  position: relative;
	  font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	  -webkit-font-smoothing: antialiased;
	  font-size: $ms-font-size-m;
	  font-weight: $ms-font-weight-regular;
	  border-width: 0;
	  text-align: center;
	  cursor: pointer;
	  display: inline-block;
	  padding: 0 16px;
  
	  .label {
		font-weight: $ms-font-weight-semibold;
		font-size: $ms-font-size-m;
		height: 32px;
		line-height: 32px;
		margin: 0 4px;
		vertical-align: top;
		display: inline-block;
	  }
	}
  
	.content {
	  background-color: white;
	  padding: 2% 3%;
	  margin: 10px;
	}
  
	section{
	  padding: 1% 0 0 1%;
  
	  table{
		width: 100%;
		margin-bottom: 3%;
		margin-top: 3%;
  
		.labelTD {
		  display: flex;
		  margin-bottom: 1%;
		}
	  
		.contentTD {
		  margin-bottom: 1%;
		  width: 75%;
		}

		



	  }
	}
  
	.buttonsSection{
	  margin: 5px;
	  text-align: right;
	  padding: 20px;
  
	  img{
		width: 4vw;
		margin: -12px 20px;
	  }
	}
  
	.labelRed{
	  color: red;
	}
  
	input, textarea, select {
	  -webkit-appearance: none;
	  border: 0;
	  font-size: inherit;
	  font-family: inherit;
	  border-bottom: 1px solid #a6a6a6;
	  border-radius: 0;
	  transition: all .15s ease;
  
	}
  
	input[type=text] {
	  width: 97%;
	  background: none;
	  height: 30px;
	}
  
	input[type=date] {
	  
	  //background: url(./icons/calendar.png) no-repeat scroll 7px 7px;
	  background-position-x: 98%;
	  width: 50%;
	  height: 29px;
	  outline: none;
	}
  
	[type=date]::-webkit-inner-spin-button {
	  display: none;
	}
  
	[type=date]::-webkit-calendar-picker-indicator {
	  opacity: 0;
	}
  
	textarea {
	  width: 98%;
	}
			
	input[type=text]:focus, textarea:focus {
		background: none;
		outline: none;
		border-bottom: 1px solid;
		border-bottom-color: $ms-color-themePrimary;
	}
  
	select {
	  //background: url(./icons/arrow-down.png) no-repeat scroll 7px 7px;
	  background-position-x: 98%;
	  width: 98%;
	  height: 30px;
	}
  
	select:focus, select:active {
	  outline: none;
	  border-bottom-color: $ms-color-themePrimary;
	}
  
	.time {
	  width: 47.5%;
	  background-position-x: 95.5%;
	}
  
	/* The container */
	.checkcontainer {
	  display: block;
	  position: relative;
	  padding-left: 35px;
	  margin-bottom: 12px;
	  cursor: pointer;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}
  
	/* Hide the browser's default checkbox */
	.checkcontainer input[type=checkbox] {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	  height: 0;
	  width: 0;
	}
  
	/* Create a custom checkbox */
	.checkmark {
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 25px;
	  width: 25px;
	  background-color: #eee;
	}
  
  
	/* When the checkbox is checked, add a blue background */
	.checkcontainer input[type=checkbox]:checked ~ .checkmark {
	  background-color: $ms-color-themePrimary;
	}
  
	/* Create the checkmark/indicator (hidden when not checked) */
	.checkmark:after {
	  content: "";
	  position: absolute;
	  display: none;
	}
  
	/* Show the checkmark when checked */
	.checkcontainer input[type=checkbox]:checked ~ .checkmark:after {
	  display: block;
	}
  
	/* Style the checkmark/indicator */
	.checkcontainer .checkmark:after {
	  left: 9px;
	  top: 5px;
	  width: 5px;
	  height: 10px;
	  border: solid white;
	  border-width: 0 3px 3px 0;
	  -webkit-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  transform: rotate(45deg);
	}
  


	


	
	
  }


